.footer_container {
    background: #FAF8F8B2;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/images/Ellipse2.svg') no-repeat;
    position: relative;
    bottom: -10px;
    height: 88.86px;
    width: 100vw;
    background-size: 100%;
    z-index: 2;
}

.footer a {
  
    display: flex;
    justify-content: center;
    align-items: center;
    color:#C3A155;
    font-family: Caveat;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}
.footer a p{
    color:#C3A155;
    font-family: Caveat;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    margin-bottom: 4px;
}

.nav {
    background: #FAF8F8B2;
    border-radius: 60.75px 60.75px 0 0;
    padding:116px 0 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    z-index: 2;
    margin-top: 1.3125rem;
}
.header {
    position:static;
    top: -10px;
    width: 100vw;
    background-size: 100%;
}
.logo_bg {
    background: url('../../assets/images/Ellipse1.svg') no-repeat;
    height: 177px;
    max-height: 250px;
    width: 100vw;
    background-size: 100%;
    position: absolute;
    background-position: center;
}
.bubleTeaIcon {
    background: url('../../assets/images//BubbleTea.svg') no-repeat;
    width: 18.52px;
    height: 28.81px;
    background-size: 18.52px 28.81px;
    display: inline-block;
}
.logo {
    position: relative;
    left: 2.0625rem;
    top: 2.0625rem;
}

.teamilkImage{
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 100;
}

.title {
   z-index: 2;
    width: 219px;
    height: 199px;
    padding: 6.125rem 0 0 3.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.title h1 {
    font-family: blackberry;
font-size: 40px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
 transform: rotate(-3deg);
 min-width: 125px;
}
.title h1 img {
    transform: rotate(-3deg);
}

.title h2{
    font-family: Caveat;
font-size: 16px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0em;
text-align: center;
    color: #fff;
}