
.main {
    background: #D9D9D9;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/images/Ellipse2.svg') no-repeat;
    margin-top: 50px;
    height: 88px;
    width: 100vw;
    background-size: 100% ;
    background-position: bottom;
    z-index: 2;
}

.footer a {
  
    display: flex;
    justify-content: center;
    align-items: center;
    color:#C3A155;
    font-family: Caveat;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}
.footer a p{
    color:#C3A155;
    font-family: Caveat;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    margin-bottom: 4px;
}


.header {
    position:static;
    top: -10px;
    width: 100vw;
    background-size: 100%;
    background-color: #D9D9D9;
    padding-bottom: 1.3125rem;
}
.logo_bg {
    background: url('../../assets/images/Ellipse1.svg') no-repeat;
    height: 177px;
    max-height: 250px;
    width: 100vw;
    background-size: 100%;
    position: absolute;
    background-position: center;
    top: -10px;
}
.bubleTeaIcon {
    background: url('../../assets/images//BubbleTea.svg') no-repeat;
    width: 18.52px;
    height: 28.81px;
    background-size: 18.52px 28.81px;
    display: inline-block;
}
.logo {
    position: relative;
    left: 2.0625rem;
    top: 2.0625rem;
}

.teamilkImage{
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 100;
}

.title {
   z-index: 2;
    width: 219px;
    height: 199px;
    padding: 6.125rem 0 0 3.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.title h1 {
    font-family: blackberry;
font-size: 40px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
 transform: rotate(-3deg);
 min-width: 125px;
}
.title h1 img {
    transform: rotate(-3deg);
}

.title h2{
    font-family: Caveat;
font-size: 16px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0em;
text-align: center;
    color: #fff;
}
.nav {
    background: #FAF8F8B2;
    border-radius: 60.75px 60.75px 0 0;
    padding:116px 0 29px;
    z-index: 2;
  

}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
   
}
.nav li{
    list-style: none;
    background-color: #D9D9D9;
    border: 2px solid #C3A155; 
    border-radius: 60px;
    padding:  9px 90px 14px 90px;
    font-family: blackberry;
    font-size: 48px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    color: #FFFFFF;
}
.item {
    font-size:  28px !important;
line-height: 16px !important;
letter-spacing: 0em;
text-align: center;
padding:9px 50px !important;
 
}

.nav ul li:last-child {
    padding:  9px 76px 14px 76px !important;
}